<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.tfg">
    <!-- Herramientas del teléfono utilizadas -->
    <uses-feature
        android:name="android.hardware.camera2.full"
        android:required="true" /> <!-- Permisos dados -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/splashtitle"
        android:label="@string/app_name"
        android:roundIcon="@drawable/splashtitle"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        tools:targetApi="31">
        <activity
            android:name=".ajustes.comercioLocalActivity"
            android:exported="false" />
        <activity
            android:name=".categorias.gastronomia.gastronomiaActivity4"
            android:exported="false" />
        <activity
            android:name=".categorias.gastronomia.gastronomiaActivity3"
            android:exported="false" />
        <activity
            android:name=".ajustes.comoLlegarActivity"
            android:exported="false" />
        <activity
            android:name=".ajustes.contactoActivity"
            android:exported="false" />
        <activity
            android:name=".ajustes.rest.establecimientoActivity"
            android:exported="false" />
        <activity
            android:name=".ajustes.dondeComerActivity"
            android:exported="false" />
        <activity
            android:name=".ajustes.aloj.alojamientoActivity"
            android:exported="false" />
        <activity
            android:name=".ajustes.dondeDormirActivity"
            android:exported="false" />
        <activity
            android:name=".categorias.rutas.rutasActivity"
            android:exported="false" />
        <activity
            android:name=".categorias.otros.otrosActivity"
            android:exported="false" />
        <activity
            android:name=".categorias.artesania.artesaniaActivity5"
            android:exported="false" />
        <activity
            android:name=".categorias.artesania.artesaniaSelectorActivity"
            android:exported="false" />
        <activity
            android:name=".categorias.gastronomia.gastronomiaActivity"
            android:exported="false" />
        <activity
            android:name=".categorias.gastronomia.gastronomiaActivity2"
            android:exported="false" />
        <activity
            android:name=".categorias.tradiciones.tradicionesActivity"
            android:exported="false" />
        <activity
            android:name=".categorias.historia.historiaActivity2"
            android:exported="false" />
        <activity
            android:name=".categorias.historia.historiaActivity"
            android:exported="false" />
        <activity
            android:name=".categorias.arquitectura.arquitecturaActivity5"
            android:exported="false" />
        <activity
            android:name=".ajustes.idiomasActivity"
            android:exported="false" />
        <activity
            android:name=".categorias.artesania.artesaniaActivity4"
            android:exported="false" />
        <activity
            android:name=".categorias.artesania.artesaniaActivity3"
            android:exported="false" />
        <activity
            android:name=".categorias.artesania.artesaniaActivity2"
            android:exported="false" />
        <activity
            android:name=".categorias.artesania.artesaniaActivity"
            android:exported="false" />
        <activity
            android:name=".categorias.arquitectura.arquitecturaActivity4"
            android:exported="false" />
        <activity
            android:name=".categorias.arquitectura.arquitecturaActivity3"
            android:exported="false" />
        <activity
            android:name=".categorias.arquitectura.arquitecturaActivity2"
            android:exported="false" />
        <activity
            android:name=".ajustes.ajustesActivity"
            android:exported="false" />
        <activity
            android:name=".categorias.categoriasActivity"
            android:exported="false" />
        <activity
            android:name=".mapa.MapsActivity"
            android:exported="false" />
        <activity
            android:name=".categorias.arquitectura.ArquitecturaActivity"
            android:exported="false" />
        <activity
            android:name=".inicio.MainActivity"
            android:exported="false" />
        <activity
            android:name=".activity_splash_screen"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="${MAPS_API_KEY}" />
    </application>

</manifest>